@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big John PRO';
  src: url("../fonts/BigJohnPRO-Regular.eot");
  src: local("../fonts/Big John PRO Regular"), local("BigJohnPRO-Regular"), url("../fonts/BigJohnPRO-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohnPRO-Regular.woff2") format("woff2"), url("../fonts/BigJohnPRO-Regular.woff") format("woff"), url("../fonts/BigJohnPRO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big John PRO';
  src: url("../fonts/BigJohnPRO-Bold.eot");
  src: local("../fonts/Big John PRO Bold"), local("BigJohnPRO-Bold"), url("../fonts/BigJohnPRO-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohnPRO-Bold.woff2") format("woff2"), url("../fonts/BigJohnPRO-Bold.woff") format("woff"), url("../fonts/BigJohnPRO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Big John PRO';
  src: url("../fonts/BigJohnPRO-Light.eot");
  src: local("../fonts/Big John PRO Light"), local("BigJohnPRO-Light"), url("../fonts/BigJohnPRO-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohnPRO-Light.woff2") format("woff2"), url("../fonts/BigJohnPRO-Light.woff") format("woff"), url("../fonts/BigJohnPRO-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100vh;
  background: #ffd500;
  position: absolute;
  z-index: -9;
  overflow: hidden;
}

.nav {
  position: relative;
  margin-top: 64px;
}

.nav a {
  font-family: 'Big John PRO';
  font-weight: 1000;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  padding: 17px 20px;
}

.nav a:hover {
  background: #000000;
  color: #f8cd00;
  border-radius: 25px;
}

.hero {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.hero_donate {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -9;
}

.hero_donate img {
  width: 90%;
}

.hero_tomato {
  position: absolute;
  z-index: -9;
  right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero_tomato img {
  width: 90%;
}

.hero_title {
  font-family: 'Big John PRO';
  font-size: 50px;
  font-weight: 1000;
  letter-spacing: 1.5px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.hero_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 62px;
}

.hero_description_img {
  position: relative;
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_description_img img {
  width: 80%;
}

.hero_description_img:before {
  position: absolute;
  content: '';
  width: 380px;
  height: 5px;
  top: 18%;
  left: 0;
  background: #000000;
  z-index: -1;
}

.hero_description_img:after {
  content: '';
  width: 380px;
  display: block;
  height: 5px;
  left: -15%;
  top: 8%;
  background: #000000;
  position: absolute;
  z-index: -1;
}

.hero_button {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_btn {
  position: relative;
  font-family: 'Big John PRO';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 1000;
  padding: 18px 28px;
  border-radius: 19px;
  border: 4px solid #000000;
  background-color: #fad663;
}

.hero_btn:before {
  position: absolute;
  content: '';
  width: 297px;
  height: 5px;
  top: 55%;
  left: -30%;
  background: #000000;
  z-index: -1;
}

.hero_btn:after {
  content: '';
  width: 297px;
  display: block;
  height: 5px;
  left: -50%;
  top: 35%;
  background: #000000;
  position: absolute;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */